@charset "UTF-8";

/* CSS screen */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: green;
    text-align: center;
}


ul {
    background-color: darkgreen;
}

h2 {
    text-align: center;
}

article {
    width: 600px;
    margin: auto;
}