@charset "UTF-8";

  /*Declarações gerais*/

      body {
         margin: 0px;
         padding: 0px;
         background-color: #233eff;
         background-size: cover;
         background-repeat: no-repeat;
         font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
         padding: 10px;
      }

      /*Declarações retrato*/

         @media screen and (orientation: portrait) {
            body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center top;
}
         }

      /*Declarações paisagem*/

         @media screen and (orientation: landscape) {
            body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: right top;
}
         }
