@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 0px;
    margin: 0px;

    height: 100vh;
    box-sizing: border-box;

    background-image: url(../imagens/back-phone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.600);
    text-align: center;
}

img {
    padding: 0px;
    margin: auto;
}

img#phone {display: block}
img#tablet {display: none;}
img#pc {display: none;}
img#tv {display:none}
img#print {display: none;}