@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-color: grey;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgb(56, 56, 56);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: rgb(56, 56, 56);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid rgb(170, 170, 170);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;    
}

article > h2 {
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}