@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: black;
    color: white;
    font-family: var(--fonte2);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

header h1 {
    font-size: 10vw;
    font-variant: small-caps;
}

header p {
    padding-top: 6px;
}

header p a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

section {
    font-family: var(--fonte3);
    font-size: 1.5em;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 32px;
    line-height: 48px;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: gray;
    box-shadow: inset 1px 1px 20px black;
}

#firstbackground {
    background-image: url(/desafios/des012/imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

#secondbackground {
    background-image: url(/desafios/des012/imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

section.imagem > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    padding-left: 4px;
    text-shadow: 1px 1px 1px black;
}



























header p a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}