@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

header h1 {
    font-size: 80px;
    font-variant: small-caps;
}

header p {
    padding-top: 6px;
}

header p a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 32px;
    line-height: 36px;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: gray;
}

section.imagem > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.24);
    width: 300px;
}

























header p a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}