* {
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    padding: 80px;
    text-align: center;
}

header h1 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 58px;
    font-weight: bolder;
}

main {
    margin: auto;
}

header h3 {
    font-weight: lighter;
    padding-top: 12px;
}

.versos {
    height: 1000px;
    text-align: left;
    padding-top: 170px;
    padding-left: 40px;
}

.versos > p {
    padding: 20px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#firstbackground {
    background-color: black;
    background-image: url(/desafios/des012/imagens/background001.jpg);
    background-position: center right;
    height: 1000px;
}

#firstbackground > section > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.205);
    margin-right: 220px;
}
